{% extends "base.html" %}

{% block "title" %}Post{% endblock %}

{% block "content" %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ post.author }}</a>
            <small>{{ post.date|date:"Y-m-d, f" }}</small>
            <h2><a class="class-article">{{ post.title }}</a></h2>
            <p class="class-content">{{ post.content }}</p>
            <a>Comments: {{ post.comments_count }}</a>
        </div>
    </div>
</article>
<hr>
{% if post.comments.all %}
<h2>Comments:</h2>
{% for comment in post.comments.all %}
<small class="text-muted">{{ comment.author }}, {{ comment.date|date:"Y-m-d, f" }}</small>
<p>{{ comment.content }}</p>
{% endfor %}
{% else %}
<p>No comments</p>
{% endif %}
{% endblock %}